img{
    border-radius: 50%;
}
.form{
    height: 600px;
    background-image: url(./11.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.form .div{
    height: 700px;
    width: 900px;
    border-radius: 0 60px;
    box-shadow: 10px 0 0 10px rgb(233, 200, 53);
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;

}

.form .div:hover{
    transform: scale(1.1);
}
.form .div:hover img{
    transform: rotate(360deg);
    transition: all 1.5s linear;
}
.form .div img:hover{
    transform: scaleX(1.6);
    transition: all 1s linear;
}
.form form{
    margin-top: 150px;
}
.form form input{
    margin-bottom: 50px;
    width: 80%;
    background: transparent;
    border: none;
    border-bottom: 2px solid rgb(0, 0, 0);
    font-size: 20px;
}
::placeholder {
    color: rgb(141, 127, 48);;
  }
  .form form button{
    background-color:transparent;
    color:white;
    border:2px solid orange;
    padding: 8px 20px;
    border-radius: 4px;
}
.t{
    background-color: black;
}